In [15]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
#excel file path
transplant_data_file = "Data/raw-heart/heart_20_year.csv"

In [17]:
#import excel, read it and make a dataframe
transplant_data_raw = pd.read_csv(transplant_data_file)

In [18]:
transplant_data_raw.head()

,Transplant Year,Data_Year,Organ,Age Group,N,Graft Survival Rate,Graft 95% CI,Patient Survival Rate,Patient 95% CI
0,1988,2008.0,Heart/Lung,1-5 Years,1,*,NaN,*,NaN
1,1988,2008.0,Heart/Lung,11-17 Years,6,*,NaN,*,NaN
2,1988,2008.0,Heart/Lung,18-34,31,*,NaN,*,NaN
3,1988,2008.0,Heart/Lung,35-49,26,*,NaN,*,NaN
4,1988,2008.0,Heart/Lung,50-64,6,*,NaN,*,NaN